<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
CREATE DATABASE encore;
-->

<hibernate-configuration>

	<session-factory>
	
		<!-- Mapping files -->
		<mapping class="com.katbutler.encore.model.User" />
		<mapping class="com.katbutler.encore.model.Event" />
		<mapping class="com.katbutler.encore.model.EventItem" />
		<mapping class="com.katbutler.encore.model.Comment" />
		<mapping class="com.katbutler.encore.model.Activity" />
		
	</session-factory>

</hibernate-configuration>